<div id="homepage">

<h4>Thinking about getting a pet?<h4><br>
      <h4>Every year thousands of of pepole are choosing to adopt!
      Wonderful pets of all types, breeds and ages are available,<br>
      just waiting for your loving home.
      Please answer the questions below, so we know what are youlooking for?</h4><br>

<form class="was-validated"> 
  <div class="form-group">
    <select class="custom-select" required>
      <option value="">What are you looking for?</option>
      <option value="1">Dog</option>
      <option value="2">Cat</option>
      <option value="3">Three</option>
    </select>
<br><br>
    <div class="form-group">
    <select class="custom-select" required>
      <option value="">Breed</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
<br><br>
    <div class="form-group">
    <select class="custom-select" required>
      <option value="">Gender</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
<br><br>
    <div class="form-group">
    <select class="custom-select" required>
      <option value="">Age</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
<br><br>
    <div class="form-group">
    <select class="custom-select" required>
      <option value="">Weight</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
<br><br>
     <button class="btn btn-dark" type="submit">Submit form</button>
</form>
</div>