<div id="loginpage">
  <h4>Sign in to start your journey with Adopt Me:</h4>
  <br>
<form class="login-form">
  <div class="col-sm-3 my-1">
   <label for="username-login">Username:</label>
    <input type="text" id="username-login"/>
  </div><br>
    <div class="col-sm-3 my-1">
   <label for="email-login">email:</label>
    <input type="text" id="email-login"/>
  </div><br>
  <div class="col-sm-3 my-1">
    <label for="password-login">Password:</label>
    <input type="password" id="password-login"/>
  </div> <br>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
<script src="/javascript/login.js"></script>
</div>