<div id="loginpage">
<form>
  <div class="col-sm-3 my-1">
     <h4>Sign in to start your journey with Adopt Me:</h4>
  <br>
   <label for="username-signup">Username:</label>
    <input type="text" id="username-signup"/>
  </div><br>
  <div class="col-sm-3 my-1">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup"/>
  </div> <br>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
<script src="/javascript/login.js"></script>
</div>