
{{#if loggedIn}}

<div id="mypage">



<div class="container" id="box">
	<div class="row well">
		<h5>Here is the information about the rescue organizations/animal shelter where your best friend is waiting for you:  </h5>
        <br><br>

         <center>
             <button class="btn btn-dark hidden-print" onclick="myFunction()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print the page</button>
	    </center>
        
	</div>
</div>
<script src="/javascript/print.js"></script>

</div>

{{else}}
<a href="/login">You must login first to view this painting</a>
{{/if}}

