<h4>Please answer the questions below, so we know what you are looking for!</h4>

<form class="was-validated" id="petfinder-search"> 
  <div class="form-group">
    <label for="type"> What type of pet are you looking for?</label>
    <br>
    <select class="custom-select" name="type" id="animal-type" required>
      <option value="" disabled selected hidden>Animal Type</option>
      <option value="dog">Dog</option>
      <option value="cat">Cat</option>
    </select>
<br><br>
    <div class="form-group">
      <label for="breed"> What breed?</label>
    <br>
    <input class="awesomplete custom-input dropdown-input" name="breed" id="breed" data-list="{{dogBreeds}}"/>
<br><br>
    <div class="form-group">
    <label for="gender"> What gender?</label>
    <br>
    <select class="custom-select" name="gender" id="gender" required>
      <option value="" disabled selected hidden>Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
<br><br>
    <div class="form-group">
    <label for="age"> What age?</label>
    <br>
    <select class="custom-select" name="age" id="age" required>
      <option value="" disabled selected hidden>Age</option>
      <option value="baby">Baby</option>
      <option value="young">Young</option>
      <option value="adult">Adult</option>
      <option value="senior">Senior</option>
    </select>
<br><br>
    <label for="size"> What size?</label>
    <br>
    <select class="custom-select" name="size" id="size" required>
      <option value="" disabled selected hidden>Size</option>
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
      <option value="xlarge">Extra Large</option>
    </select>
<br><br>
    <div class="form-group">
    <label for="location">What is the zip code where you would like to search?</label>
    <br>
    <input class="custom-input" type="text" pattern="\d*" name="location" id="location" minlength="5" maxlength="5" placeholder="Zip Code" required/>
  <br><br>
    <div class="form-group">
      <label for="distance">How far would you like to search in miles?</label>
    <br>
    <select class="custom-select" name="distance" id="distance" required>
      <option value="" disabled selected hidden>Distance</option>
      <option value="10">10 miles</option>
      <option value="20">20 miles</option>
      <option value="50">50 miles</option>
      <option value="100">100 miles</option>
      <option value="250">250 miles</option>
      <option value="500">500 miles</option>
    </select>
  <br><br>
     <button class="btn btn-primary" type="submit">Submit form</button>
</form>

<script src="/JavaScript/petfinder-search.js"></script>