<div id="signup">
<form class="signup-form">
  <h2>Sign Up</h2>
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div><br> 
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" /><br>
  </div>
<button type="submit" class="btn btn-dark">Submit</button>
</form>
<script src="/javascript/login.js"></script>
</div>