<div id="signup">
  <form class="signup-form">
    <h4>Complete the sign up below to start to find the pet that you want!</h4>
    <br />
    <div>
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" />
    </div><br />
    <div class="col-sm-3 my-1">
      <label for="email-login">email:</label>
      <input type="text" id="email-login" />
    </div><br />
    <div>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" /><br />
    </div><br />
    <button id="btn_id" type="submit" class="btn btn-dark">Submit</button>
  </form>
  <script src="/javascript/signup.js"></script>
</div>